:root {
	--white: #fbfbfb;
	--trans-white: #fbfbfb70;
	--dark-gray: #2f2f2f;
	--ice-blue: #78a2b0;
	--trans-ice-blue: #78a2b0a1;
	--dark-ice-blue: #275666;
	--inline-padding-margins: clamp(0.7em, 0.4em + 1.4vw, 3.5em);
	--main-font-size: clamp(0.95rem, .95rem + 0.15vw, 1.2rem);
}

/* Base sizing: (min-width:626px) and (max-width:1250px) */
html {
	height: 100dvh;
	scrollbar-color: var(--ice-blue) var(--trans-white);
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: var(--dark-gray);
	color: var(--white);
}

body, h1, p, .subheading, main, footer {
	margin: 0 auto;
}

main, footer {
	width: min(100%, 975px);
}

.bodoni-moda-sc {
	font-family: "Bodoni Moda SC", serif;
	font-optical-sizing: auto;
}

.open-sans-smiths {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
	letter-spacing: .012em;
}

.rocker-boys {
	flex-direction: column;
	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("images/rockers.jpg");
	height: 100dvh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.color-band {
	background-color: var(--trans-ice-blue);
	display: flex;
	flex-direction: column;
	margin-block: clamp(1rem, 0.6em + 1.9vw, 2em) .3em;
	padding-block: clamp(0.9rem, 0.55em + 2.6vw, 2em);
	padding-inline: var(--inline-padding-margins);

	> * {
		text-align: center;
	}

	h1 {
		font-size: clamp(1px, 6vw, 4rem);
		font-weight: 750;
		letter-spacing: 1.5px;
		word-spacing: 3px;
		line-height: 1.25;
		text-wrap: balance;
		-webkit-text-stroke-width: .5px;
		-webkit-text-stroke-color: var(--white);
	}

	.subheading {
		font-size: clamp(1.1rem, 0.82rem + 0.95vw, 2.2rem);
		font-weight: 500;
		word-spacing: 1.25px;
		padding-left: .25em;
		margin-top: .15em;
	}
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	padding-inline: calc(1.2 * var(--inline-padding-margins));
}

footer {
	margin-block: 2vh;
	opacity: .75;

	p {
		font-size: clamp(0.7rem, 0.6em + .8vw, .9rem);
		text-wrap-style: balance;
		text-align: center;
		margin-block: 1.2rem 0;
		margin-inline: var(--inline-padding-margins);
	}
	hr {
		border: none;
		border-top: 1px solid var(--white);
		margin: 0 auto;
	}
}

.footer-top-line {
	width: 80%;
	margin: auto;
}

.footer-bottom-line {
	margin-top: 5px;
	width: 76%;
}

.word-count-input-container {
	display: flex;
	flex-wrap: wrap;
	gap: .5em 2em;
	margin-top: clamp(0.6em, 0.4em + .7vw, 1.2em);
	max-width: 400px;
}

#word-count-input {
	font-size: clamp(0.95rem, .9rem + 0.29vw, 1.2rem);
	color: var(--dark-ice-blue);
	text-align: center;
	width: 4em;
	opacity: .75;
	box-sizing: border-box;
	border-radius: 5px;
	padding: .3em;
}

#input-box {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	font-weight: 500;
	align-items: center;
}

#input-box label {
	font-size: .95em;
	opacity: .9;
	text-shadow: 0 0 1px black;
}

#word-count-input:focus {
	opacity: .8;
}

::placeholder {
	color: var(--ice-blue);
	opacity: .7;
}

:focus::placeholder {
	opacity: .55;
}

button {
	background-color: #85b2c2d9;
	color: var(--white);
	font-family: "Open Sans", sans-serif;
	font-size: clamp(.8rem, .78rem + .4vw, 1rem);
	font-weight: 500;
	word-spacing: 1px;
	border: 1px solid #58828f;
	border-radius: 7px;
	padding-inline: 1em;
}

@media (hover: hover) {
	button:hover {
		background-color: #71a2b1eb;
		box-shadow: 3px 3px #4e7885f7;
		transition: background-color .1s ease-in-out, box-shadow .1s ease-in-out;
	}
}

button:active {
	background-color: #5f8b99f2;
	box-shadow: 2px 2px #3f626c;
	transform: translateY(2px) translateX(2px) scale(98%);
}

#error-message p {
	font-size: clamp(0.9rem, .85rem + 0.25vw, 1.2rem);
	color: #ff5d75;
	text-shadow: 0 0 .75px black;
	background-color: #3e3e3eb0;
	display: inline-block;
	margin-block: .8rem 0;
	padding: .06rem .05rem .06rem 0;
	border-radius: 2px;
}

#lyrics-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	opacity: 0;
	transition: opacity .25s 0s ease-out;
	> #copy-btn {
		display: none;
		flex: 1 1 auto;
		align-self: flex-end;
		margin-right: 0.2em;
		margin-bottom: 0.2em;
	}
	&.fade-in {
		opacity: .85;
		transition: opacity .3s 0s ease-in;
	}
}

#lyrics-box {
	overflow-y: auto;
	background-color: var(--trans-white);
	border-block: solid 0.5em var(--trans-white);
	border-inline: solid 1px #00000000;
	margin-block: 1em;
}

#lyrics-el {
	color: var(--dark-ice-blue);
	font-weight: 525;
	line-height: 1.55;
	letter-spacing: normal;
	backdrop-filter: blur(6px);
	padding-inline: .8em;
}

/* ================================================= */
/* ================= MEDIA QUERIES ================= */
/* ================================================= */


@media (max-width: 500px) {
	html {
		overflow: scroll;
	}

	.rocker-boys {
		background-position: right;
	}

	.color-band {
		> * {
			text-align: left;
		}

		h1 {
			font-size: clamp(1.9rem, 0.3rem + 8.3vw, 2.6rem);
			letter-spacing: 0.04em;
		}

		.subheading {
			margin-left: 0;
		}
	}

	.word-count-input-container {
		#input-box {
		justify-content: space-between;
		}

		button {
			width: 100%;
			margin-top: 1em;
			margin-left: unset;
		}
	}

	#lyrics-box {
		scrollbar-width: none;  /* Firefox */
		-ms-overflow-style: none;  /* IE and Edge */
	}

	#lyrics-box::-webkit-scrollbar {  /* Chrome */
		width: 0;
		background: transparent;
	}
}
