/* Screen width: 1251px - 1999px */

:root {
	/* --white: whiteSmoke; */
	--white: #fbfbfb;
	--dark-gray: #2f2f2f;
	--ice-blue: #78a2b0;
	--trans-ice-blue: #78a2b0a1;
	--dark-ice-blue: #448094; 
}

.bodoni-moda-sc {
	font-family: "Bodoni Moda SC", serif;
	font-optical-sizing: auto;
}

body, html {
	font-size: 16px;
	font-family: futura, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--dark-gray);
	color: var(--white);
	margin: 0;
	height: 100%;
}	

#wrapper {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width:1300px;
}

.rocker-boys {
	flex-direction: column;
	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("images/rockers.jpg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.color-band {
	background-color: var(--trans-ice-blue);
	/* opacity: .82; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 1%;
	padding: 2%;
}	

h1 {
	font-size: 4.5rem;
	margin: 0;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: var(--white);
	line-height: 1.2;
	opacity: .9;
}	

main { /* ID: lyrics-container */
	display: flex;
	flex-direction: column;
	flex-grow: 1; 
	overflow-y: auto;
	margin-top: .5rem;
}

footer {
	margin-top: 0.5rem;
	text-align: center;
	p {
		display: inline-block;
		font-size: .9rem;
		margin: .5rem;
		opacity: .82;
	}
}

.word-count-input-container {
	display: flex;
	justify-items: center;
	align-items: center;
	column-gap: 1.4rem;
	align-content:center;
	margin-top: .7rem;
	padding: .018rem 0;
}

.word-count-input-container > * > * {
	padding: .16rem 0 .14rem 0;
	font-size: 1.05rem;
}

label {
	background-color: #5656563b;
}

#word-count-input {
  color: var(--dark-ice-blue);
	text-align: center;
	width: 4rem;
	opacity: .70;
	box-sizing: border-box;
  margin-left: .2rem;
}

#word-count-input:focus {
	opacity: .80;
}

::placeholder {
	color: var(--ice-blue);
	opacity: .75;
}

:focus::placeholder {
	opacity: .50;
}

button {
	font-family: "Bodoni Moda SC", futura, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.05rem;
	color: var(--white);
	background: #78a2b0d9;
	border-radius: 10px;
	border: 1.5px solid #666;
	box-shadow: 2px 3px #3a535b;
	padding: .05rem .62rem .18rem .62rem !important;
	-webkit-text-stroke-width: .05px;
	-webkit-text-stroke-color: var(--white);
}

#generate-smithsum-btn {
	align-self: flex-start;
	margin-top: .05rem;
}

.copy-btn {
	align-self: flex-end;
	margin-top: 1rem;
	width: 8rem;
}

@media (hover: hover) {
	button:hover {
		background: var(--ice-blue);
	}
}

button:active {
	background: var(--ice-blue);
	box-shadow: 1px 2px #445e66;
  transform: translateY(2px) translateX(2px);
}

#error-message {
	margin-bottom: .5rem;
}

#error-message p {
	color: red;
	font-size: 1rem;
	background: #4b4a4ab0;
	display: inline;
}

.lyrics-box {
	opacity: .75;
	overflow-y: auto;
	margin-top: .5rem;
}

.lyrics-box p {
	background-color: var(--white);
	color: var(--dark-ice-blue);
	line-height: 1.5;
	margin: 0;
	padding: 1.25% 1.75%;
}

.empty-lyrics-box {
	display: none;
	opacity:.15;
}

span.line {
	padding-top: 0;
	white-space: preserve nowrap;
}

.margins {
	margin-left: 2.25rem;
	margin-right: 2.25rem;
}
/* ================================================= */
/* ================= MEDIA QUERIES ================= */
/* ================================================= */


/* ===================== TABLET ==================== */

@media (min-width:625px) and (max-width:880px) {
	h1 {
		font-size: 3.2rem;
	}
	.margins {
		margin-left: 1.75rem;
		margin-right: 1.75rem;
}
}

/* ===================== PHONE ==================== */

@media (max-width:625px) {
	html {
		overflow: scroll;
	}

	h1 {
		font-size: 3.2rem;
	}

	.rocker-boys {
		background-position: right;
	}

	.margins {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	
	.word-count-input-container {
		align-items: unset;
		flex-direction: column;
		width: max-content;
	}

	.word-count-input-container > * > * {
		font-size: 1.05rem;
	}

	button {
		font-size: .9rem;
	}

	#generate-smithsum-btn {
		margin-top: .4rem;
	}

	#error-message {
		padding-left: .2rem;
	}

	.lyrics-box {
		scrollbar-width: none;  /* Firefox */
		-ms-overflow-style: none;  /* IE and Edge */
	}

	.lyrics-box::--webkit-scrollbar {  /* Chrome */
		width: 0;
		background: transparent;
	}

	.lyrics-box p {
		line-height: 1.5;
	}
}

/* ===================== SMALLER PHONE ==================== */
@media (min-width:381px) and (max-width:430px){
	h1 {
		font-size: 2.9rem;
	}
}
/* ===================== TINY PHONE ==================== */
@media (max-width:380px){
	h1 {
		font-size: 2.5rem;
		margin-left: .2rem;
	}
}
